<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link href="
    https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.4/dist/css/index.min.css
    " rel="stylesheet">
</head>

<body>
  <div class="container" id="app">
    <div class="row">
      <div class="col-12">
        <table class="table align-middle">
          <thead>
            <tr>
              <th>圖片</th>
              <th>商品名稱</th>
              <th>價格</th>
              <th>加入購物車</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="product in allProducts" :key="product.id">
              <td>
                <img :src="product.imageUrl" alt="" style="width: 100px;">
              </td>
              <td>{{product.title}}</td>
              <td>
                <del>{{product.origin_price}} 元</del>
                <div><strong>{{product.price}} 元</strong></div>
              </td>
              <td>
                <button class="btn btn-outline-secondary btn-sm" @click="openModal(product)">查看更多</button>
                <button class="btn btn-outline-success btn-sm" @click="addToCart(product.id)">加到購物車</button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-danger" @click="delAllCartItems">清空購物車</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table align-middle">
          <thead>
            <tr>
              <th></th>
              <th>品名</th>
              <th style="width:150px">單位/數量</th>
              <th>單價</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="cart in cartProducts" :key="cart.id">
              <td>
                <button type="btn" class="btn btn-outline-danger btn-sm" @click="delCartItem(cart.id)">X</button>
              </td>
              <td>{{cart.product.title}} </td>
              <td class="d-flex align-itmes-end">
                <button class="btn btn-outline-danger btn-sm" @click="addToCart(cart.product.id, -1)"
                  v-if="cart.qty > 1">-</button>
                <button class="btn btn-outline-danger btn-sm" @click="delCartItem(cart.id)" v-else><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0
                  V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0
                  V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2
                  V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1
                  h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059
                  V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                  </svg></button>

                <input type="number" style="width:60px;" min="1" readonly v-model="cart.qty">
                <button class="btn btn-outline-primary btn-sm" @click="addToCart(cart.product.id, 1)">+</button>
              </td>
              <td>{{cart.total}} </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="3" class="text-end">總計 </td>
              <td class="">{{cartInfo.total}} 元</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 d-flex justify-content-center">
        <v-form v-slot="{ errors }" @submit="submitOrder" ref="form">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <v-field id="email" name="email" type="email" class="form-control"
              :class="{ 'is-invalid': errors['email'] }" placeholder="請輸入 Email" rules="email|required"
              v-model="form.user.email"></v-field>
            <error-message name="email" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="inputName" class="form-label">收件人姓名</label>
            <v-field type="text" class="form-control" id="inputName" name="姓名" :class="{ 'is-invalid': errors['姓名'] }"
              placeholder="請輸入姓名" rules="required" v-model="form.user.name">
            </v-field>
            <error-message name="姓名" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="inputTelphone" class="form-label">收件人電話</label>
            <v-field type="tel" class="form-control" id="inputTelphone" name="電話"
              :class="{ 'is-invalid': errors['電話'] }" placeholder="請輸入電話" :rules="isPhone"
              v-model="form.user.tel"></v-field>
            <error-message name="電話" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="inputAddress" class="form-label">收件人地址</label>
            <v-field type="text" class="form-control" id="inputName" name="地址" :class="{ 'is-invalid': errors['地址'] }"
              placeholder="請輸入地址" rules="required" v-model="form.user.address">
            </v-field>
            <error-message name="地址" class="invalid-feedback"></error-message>

          </div>

          <div class="mb-3 d-flex flex-column">
            <label for="textarea" class="form-label">留言</label>
            <textarea name="textarea" id="textarea" cols="30" style="height: fit-content;"
              class=" form-control border border-1 rounded" v-model="form.message"></textarea>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-danger d-flex justify-content-end">送出訂單</button >
          </div>
        </v-form>
      </div>
    </div>

    <!-- modal -->
    <info-modal :modal-item="tempProduct" v-on:add="modalAddToCart">
    </info-modal>
    <!-- container -->
  </div>


  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.12.4/vee-validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.12.4/dist/vee-validate-rules.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.12.4/dist/vee-validate-i18n.min.js"></script>
  <script src="
https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.4/dist/index.min.js
"></script>

  <script src="index.js" type="module"></script>
</body>

</html>